<h2><%= @review.restroom.restaurant_name %></h2>
<h3>Edit Review:</h3>
<form action="/review/<%=@review.id%>" id="review" method="post">
  <input type="hidden" name="_method" value="put" />
  <textarea name="review[body]" rows="4" cols="50" form="review"><%=@review.body%></textarea>
  <p>Rating: </p>
  <select class="" name="review[stars]">
    <option value="<%=@review.stars%>"><%=@review.stars%></option>
    <% for item in (0..4) %>
      <option value="<%=item+1%>"><%=item+1%></option>
    <% end %>
  </select>
  <p><input type="submit" value="Edit Review"></p>
  </form>
