<head>
<style>
body {
    background-color:rgb(213, 114, 23);
}
</style>
</head>
<center>
  <div class="wrapper">
   <div id="logo">
     <h1>Poolite</h1>
   </div>
   <nav>
     <% if @logged %>
      <a href="/">Home</a> <a href="/user/<%=@user.slug%>">Profile</a> <a href="/review/new">Write A Review</a> <a href="/restrooms">Restrooms</a>
     <% else %>
       <a href="/">Home</a> <a href="/review/new">Write A Review</a> <a href="/restrooms">Restrooms</a>
     <% end %>
   </nav>
  </div>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<% if @restrooms %>
  <h2>Review A Restroom</h2>
  <form action="/new/review" method="post"></p>
    <p>Choose an existing location</p>
    <% if !@restrooms.blank? %>
      <% for item in @restrooms %>
      <p><input type="checkbox" name="review[restroom_id]" value="<%=item.id%>"><%=item.restaurant_name%></input></p>
      <% end %>
      <% end %>
      <p>Or Add a new location</p>
      <p>Name: </p>
      <p><input type="text" name="restroom[restaurant_name]" value=""></p>
      <p>Location: </p>
      <p><input type="text" name="restroom[location]" value=""></p>
      <p>Write Review Here:</p>
      <input type="text" name="review[body]" class="review body" required>
      <p>Rating: </p>
      <% for item in (0..4) %>
      <input type="checkbox" name="review[stars]" value="<%=item+1%>"><%=item+1%>
      <% end %>
      <p><input type="hidden" name="review[user_id]" value="<%=@user.id%>"></p>
      <p><input type="submit" value="Create Review"></p>
    </form>
<% else %>
  <h2>Write a review for <%=@restroom.restaurant_name%> below</h2>
  <form action="/new/review" method="post"></p>
    <input type="hidden" name="review[restroom_id]" value="<%=@restroom.id%>">
    <input type="text" name="review[body]" class="review body" required>
    <p>Rating: </p>

      <% for item in (0..4) %>
      <input type="checkbox" name="review[stars]" value="<%=item+1%>"><%=item+1%>
      <% end %>
    <p><input type="hidden" name="review[user_id]" value="<%=@user.id%>"></p>
    <p><input type="submit" value="Create Review"></p>
    </form>
<% end %>

<% if @logged %>
  <p><a href="/logout">Log out</a></p>
<% else %>
  <p><a href="/login">Log In</a>
  <a href="/signup">Sign Up</a></p>
<% end %>
</center>
