<% if !@restrooms.blank? %>
  <% for item in @restrooms %>
    <div class="">
      <h2><a href="/restrooms/<%=item.id%>"><%=item.restaurant_name%> Rating: <%=item.rating%></a></h2>
        <% if !item.reviews.blank? %>
            <%review = item.reviews.sample%>
            <a href="/review/<%=review.id%>">
              <div class="">
                <h3><%="#{review.body} #{review.stars}"%></h3>
              </div>
            </a>
        <% end %>
    </div>
  <% end %>
<% end %>
