<div class="wrapper">
 <div id="logo">
   <h1>Poolite</h1>
 </div>
 <nav>
   <% if @logged %>
    <a href="/">Home</a> <a href="/user/<%=@user.slug%>">Profile</a> <a href="/review/new/<%=@restroom.id%>">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% else %>
     <a href="/">Home</a> <a href="/review/new">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% end %>
 </nav>
</div>
<h1><%= @restroom.restaurant_name%> <%=@restroom.rating%></h1>
<h2><%=@restroom.location%></h2>

<% if !@restroom.reviews.blank? %>
  <% for item in @restroom.reviews %>
  <h3><%=item.user.username%> Rating: <%=item.stars%> Star(s)</h3>
    <a href="/review/<%=item.id%>">
      <div class="">
        <h4>
        <%=item.body%>
        </h4>
      </div>
    </a>
  <% end %>
<% else %>
  <h3>This restroom hasn't been reviewed yet! You can be the first to review it <a href="restroom/<%=@restroom.id%>/review">here</a></h3>
<% end %>

<% if @logged %>
  <a href="/logout">Log out</a>
<% end %>
