<h2><%= @restroom.restaurant_name%> <%=@restroom.rating%></h2>
<h3>Location: <%=@restroom.location%></h3>
<% if !@restroom.reviews.blank? %>
  <h3>Reviews</h3>
  <br />
  <br />
  <% for item in @restroom.reviews %>
    <div class="revs">
      <h4>Reviewer: <a href="/user/<%=item.user.slug%>"><%=item.user.username%></a></h4>
      <h4>Rating: <%=item.show_stars%></h4>
      <a href="/reviews/<%=item.id%>">
        <p><%=item.body%></p>
      </a>
    </div>
  <% end %>
<% else %>
  <h3>This restroom hasn't been reviewed yet but you can be the first to review it!</h3>
<% end %>

<h2>Write a review for <%=@restroom.restaurant_name%>?</h2>
<form action="/restrooms/<%=@restroom.id%>/review" id="review" method="post"></p>
  <textarea name="review[body]" rows="4" cols="50" form="review" placeholder="Enter review here..."></textarea>
  <p>Rating: </p>
  <select class="" name="review[stars]">
    <option value=""></option>
    <% for item in (0..4) %>
      <option value="<%=item+1%>"><%=item+1%></option>
    <% end %>
  </select>
  <p><input type="submit" value="Create Review"></p>
  </form>
