<h2>Welcome <%= @profile.username%></h2>

<% if !@profile.reviews.blank? %>
  <h3>Reviews</h3>
  <% for item in @profile.reviews %>
    <div class="revs">
      <h4>
        <a href="/restrooms/<%=item.restroom.id%>"><%=item.restroom.restaurant_name%></a>  <%=item.restroom.rating%>
      </h4>
      <p><%=item.body%></p>
    </div>
  <% end %>
<% else %>
  <h3>Oh no you haven't reviewed any restrooms yet!</h3>
<% end %>
