<div class="wrapper">
 <div id="logo">
   <h1>Poolite</h1>
 </div>
 <nav>
   <% if @logged %>
    <a href="/">Home</a> <a href="/user/<%=@user.slug%>">Profile</a> <a href="/review/new">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% else %>
     <a href="/">Home</a> <a href="/review/new">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% end %>
 </nav>
</div>

<h1>Welcome <%= @user.username%></h1>

<% if !@user.reviews.blank? %>
  <% for item in @user.reviews %>
    <h3>
      <%=item.restroom.restaurant_name%> <%=item.restroom.rating%> Stars
    </h3>
    <a href="/restrooms/<%=item.restroom.id%>">
      <div class="">
        <h4><%=item.body%></h4>
      </div>
    </a>
  <% end %>
<% else %>
  <h3>Oh no you haven't reviewed any restrooms yet!</h3>
<% end %>


<% if @logged %>
  <p><a href="/logout">Log out</a></p>
<% else %>
  <p><a href="/login">Log In</a>
  <a href="/signup">Sign Up</a></p>
<% end %>
