<div class="wrapper">
 <div id="logo">
   <h1>Poolite</h1>
 </div>
 <nav>
   <% if @logged %>
    <a href="/">Home</a> <a href="/user/<%=@user.slug%>">Profile</a> <a href="/review/new">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% else %>
     <a href="/">Home</a> <a href="/review/new">Write A Review</a> <a href="/restroom">Restrooms</a>
   <% end %>
 </nav>
</div>

<h1>Welcome <%= @user.username%></h1>
<nav>
  <a href="/restrooms">Restrooms</a>
</nav>
<% if !@reviews.blank? %>
  <% for item in @reviews %>
    <a href="review/<%=item.id%>">
      <div class="">
        <h4>
          <%=item.restroom.restaurant_name%>
        </h4>
        <h4><%=item.body%></h4>
      </div>
    </a>
  <% end %>
<% else %>
  <h3>Oh no you haven't reviewed any restrooms yet!</h3>
<% end %>

<a href="/logout">Log out</a>
