
<% if !@restrooms.blank? %>
  <h2>Featured Reviews</h2>
  <% for item in @restrooms %>
    <h3><%=item.restaurant_name%> <%=item.rating%> Stars</h3>
    <a href="/restrooms/<%=item.id%>">
      <div class="index page">
        <h4><%=item.location%></h4>
        <%=item.reviews.sample.body%>
      </div>
    </a>
  <% end %>
<% else %>
  <h2>No one has written a review yet. Login and be the first!</h2>
<% end %>
